.details_inf{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 20px;
}
.details_img{
    width: 100%;
    height: 500px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #c1aa11;
}
