.breeds{
    display: flex ;
    flex-direction: row;
    flex-wrap: wrap;
}
.breed{
    display: flex ;
    align-items: center;
    flex-direction: column;
    width: 200px;
    border-radius: 20px;
    
}
.breed .img {
 width: 100%;
 height: 130px;
 background-position: center;
 background-size: cover;
}
